.search {
  .post-list {
    .post {
      .post-image {
        width: 180px;
        height: 130px;
        object-fit: cover;
        float: left;
      }

      .caption {
        overflow: hidden;
        padding: 0 10px;
      }
    }
  }
}

#search-posts {
  margin-top: -30px;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}
